@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
}

.btn {
  margin-top: 10px;
}
